@model SE141048_VoQuocHuy_PE.Identity.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.photo" width="100" height="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.married)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.married)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.professorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.professorID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.depID }) |
    <a asp-action="Index">Back to List</a>
</div>
