@model IEnumerable<SE141048_VoQuocHuy_PE.Identity.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.depID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.married)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.professorID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.depID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                <img src="~/images/@item.photo" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.married)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.professorID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.depID }) |
                @Html.ActionLink("Details", "Details", new { id = item.depID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.depID })
            </td>
        </tr>
}
    </tbody>
</table>
